In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit
import re

# ==============================
# 1. Inicializar Spark Session
# ==============================
# (E - Extract: La conexión a la fuente de datos)
spark = SparkSession.builder \
    .appName("HDFS_NiFi_Data_Cleaning_ETL") \
    .config("spark.hadoop.fs.defaultFS", "hdfs://namenode:9000") \
    .getOrCreate()

# ==============================
# 2. Paths en HDFS (Fuente)
# ==============================
file_familia = "/user/nifi/Resumen_Valores-VENTA_POR_FAMILIA2.csv"
file_producto = "/user/nifi/Resumen _Valores-VENTA_POR-PRODUCTO2.csv"

# ==============================
# 3. Función de Asignación de Nombres (Helper para E)
# ==============================
def rename_month_columns(df):
    """
    Renombra los bloques de columnas por mes (Venta, TGT, PY24, pct)
    a su formato final Mes_Métrica.
    """
    meses = ["Enero","Febrero","Marzo","Abril","Mayo","Junio",
             "Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre","YTD_JUL"]
    metricas = ["Venta","TGT","PY24","pct"]

    new_cols = ["Producto_Familia"]
    col_idx = 1

    for mes in meses:
        for metrica in metricas:
            if col_idx < len(df.columns):
                new_cols.append(f"{mes}_{metrica}")
                col_idx += 1

    while len(new_cols) < len(df.columns):
        new_cols.append(f"Extra_{len(new_cols)}")

    return df.toDF(*new_cols)

# ==============================
# 4. Función de Extracción Principal
# ==============================
def extract_data(path):
    """
    Lee el CSV, identifica la cabecera real, la filtra y asigna
    nombres temporales a las columnas.
    """
    # 1. Leer CSV sin header
    df = spark.read.option("sep", ";").option("header", "false").csv(path)

    # 2. Tomar primera fila como header real
    header_row = df.first()

    # 3. Filtrar esa fila del dataframe (limpieza mínima)
    df = df.filter(col("_c0") != header_row[0])

    # 4. Columnas temporales
    tmp_headers = [f"Col_{i}" for i in range(len(df.columns))]
    df = df.toDF(*tmp_headers)

    # 5. Renombrar columnas a Mes_Métrica
    df = rename_month_columns(df)
    
    # 6. Quitar la fila "Producto" (limpieza inicial)
    df = df.filter(df["Producto_Familia"] != "Producto")

    return df

# ==============================
# 5. Ejecución del Extract
# ==============================
df_familia_raw = extract_data(file_familia)
df_producto_raw = extract_data(file_producto)

# Muestra inicial para verificación (Opcional)
print("=== Familia RAW (después de Extract) ===")
df_familia_raw.show(5, truncate=False)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/09/30 17:10:29 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/09/30 17:10:35 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

=== Familia RAW (después de Extract) ===
+----------------+-----------+---------+----------+---------+-------------+-----------+------------+-----------+-----------+-----------+----------+-----------+-----------+-----------+----------+-----------+----------+-----------+---------+-----------+-----------+-----------+----------+-----------+-----------+-----------+----------+-----------+------------+-----------+-----------+----------+----------------+--------------+---------------+--------------+-------------+-----------+------------+-----------+---------------+-------------+--------------+-------------+---------------+-------------+--------------+-------------+-------------+-----------+------------+-----------+
|Producto_Familia|Enero_Venta|Enero_TGT|Enero_PY24|Enero_pct|Febrero_Venta|Febrero_TGT|Febrero_PY24|Febrero_pct|Marzo_Venta|Marzo_TGT  |Marzo_PY24|Marzo_pct  |Abril_Venta|Abril_TGT  |Abril_PY24|Abril_pct  |Mayo_Venta|Mayo_TGT   |Mayo_PY24|Mayo_pct   |Junio_Venta|Junio_TGT  |Junio_PY24|Junio_pct  |Julio_Venta|Julio_TGT  |Julio_PY24|Julio_pct  |Agosto_Venta|Agosto_TGT |Agosto_PY24|Agosto_pct|Septiembre_Venta|Septiembre_TGT|Septiembre_PY24|Septiembre_pct|Octubre_Venta|Octubre_TGT|Octubre_PY24|Octubre_pct|Noviembre_Venta|Noviembre_TGT|Noviembre_PY24|Noviembre_pct|Diciembre_Venta|Diciembre_TGT|Diciembre_PY24|Diciembre_pct|YTD_JUL_Venta|YTD_JUL_TGT|YTD_JUL_PY24|YTD_JUL_pct|
+----------------+-----------+---------+----------+---------+-------------+-----------+------------+-----------+-----------+-----------+----------+-----------+-----------+-----------+----------+-----------+----------+-----------+---------+-----------+-----------+-----------+----------+-----------+-----------+-----------+----------+-----------+------------+-----------+-----------+----------+----------------+--------------+---------------+--------------+-------------+-----------+------------+-----------+---------------+-------------+--------------+-------------+---------------+-------------+--------------+-------------+-------------+-----------+------------+-----------+
|ELIPTIC FAM     |75101.55   |75101.55 |17741.06  |1        |84288.73     |107789.2834|19544.51    |0.781976903|61213.98   |107789.2834|19544.51  |0.567904137|51806.79   |113627.5028|33278.04  |0.455935304|60995.68  |113627.5028|14473.58 |0.536803841|61069.66   |113627.5028|18571.16  |0.537454916|10218.55   |125303.9417|21877.87  |0.081550108|0           |3448.722727|31060.62   |0         |0               |3448.722727   |30695.48       |0             |0            |3609.272727|24297.2     |0          |0              |3609.272727  |45634.51      |0            |0              |3609.272727  |52246.26      |0            |404694.94    |756866.5668|145030.73   |0.534697869|
|AGGLAD          |110094.81  |110094.81|22534.35  |1        |110784.62    |114546.1364|31785.06    |0.96716156 |81102.53   |114546.1364|31785.06  |0.708033745|91519.9    |120891.2407|24635.46  |0.757043269|80999.82  |120891.2407|26193.67 |0.670022241|92445.3    |120891.2407|20271.95  |0.764698083|18240.65   |133581.4492|29784.66  |0.136550772|0           |2560.845455|25769.42   |0         |0               |2560.845455   |32943.44       |0             |0            |2681.545455|20463.2     |0          |0              |2681.545455  |52414.29      |0            |0              |2681.545455  |71802         |0            |585187.63    |835442.2541|186990.21   |0.700452517|
|GAAP FAM        |198788.44  |198788.44|169078.66 |1        |160505.48    |189336.242 |165560.48   |0.847727188|150621.08  |189336.242 |165560.48 |0.795521652|105247.15  |199898.6823|162597.45 |0.52650247 |125926.36 |199898.6823|189372.95|0.629950926|157333.82  |199898.6823|155690.3  |0.78706782 |32603.91   |221023.5628|194520.31 |0.147513277|0           |2823.254545|200913.89  |0         |0               |2823.254545   |170748.45      |0             |0            |2957.654545|166393.8    |0          |0              |2957.654545  |187016.44     |0            |0              |2956.454545  |136807.4      |0            |931026.24    |1398180.534|1202380.63  |0.665884138|
|LAGRICEL FAM    |377004.34  |377004.34|395594.16 |1        |413613.96    |414081.2322|439211.52   |0.998871545|447456.98  |414081.2322|439211.52 |1.080601933|456361.02  |436918.8275|375415.05 |1.044498409|348233.36 |436918.8275|357482.49|0.797020724|386762.05  |436918.8275|312000.17 |0.885203442|66352.14   |482594.018 |390711.15 |0.137490598|0           |9579.386364|444312.92  |0         |0               |9579.386364   |364618.85      |0             |0            |10033.63636|432340.84   |0          |0              |10033.63636  |413718.39     |0            |0              |10033.63636  |287199.94     |0            |2495783.85   |2998517.305|2709626.06  |0.832339319|
|SOPHIPREN       |50525.9    |50525.9  |41450.28  |1        |73566.85     |56555.62783|39394.05    |1.300787434|57583.91   |56555.62783|39394.05  |1.018181783|67175.27   |59671.10342|51339.43  |1.125758804|56544.48  |59671.10342|43314.92 |0.947602386|63975.49   |59671.10342|48676.87  |1.072135193|12129.07   |65902.05458|49954.18  |0.184046917|0           |1649.890909|80483.82   |0         |0               |1649.890909   |63223.94       |0             |0            |1728.090909|50446.88    |0          |0              |1728.090909  |75069.98      |0            |0              |1728.090909  |38645.41      |0            |381500.97    |408552.5205|313523.78   |0.933786847|
+----------------+-----------+---------+----------+---------+-------------+-----------+------------+-----------+-----------+-----------+----------+-----------+-----------+-----------+----------+-----------+----------+-----------+---------+-----------+-----------+-----------+----------+-----------+-----------+-----------+----------+-----------+------------+-----------+-----------+----------+----------------+--------------+---------------+--------------+-------------+-----------+------------+-----------+---------------+-------------+--------------+-------------+---------------+-------------+--------------+-------------+-------------+-----------+------------+-----------+
only showing top 5 rows

In [2]:
from pyspark.sql.functions import expr, regexp_extract, first, trim, upper, when
from pyspark.sql import functions as F

# ==============================
# 1. Función de Transformación Principal
# ==============================
def transform_to_wide_format(df, nivel_valor):
    """
    Aplica todas las transformaciones: unpivot, pivot, tipado, normalización
    para pasar de formato ancho (Mes_Metrica) a formato largo (Mes, Metrica).
    """
    id_col = "Producto_Familia"
    value_cols = [c for c in df.columns if c != id_col]

    # 1. Unpivot (formato largo intermedio)
    expr_str = "stack({0}, {1}) as (Columna, Valor)".format(
        len(value_cols),
        ",".join([f"'{c}', {c}" for c in value_cols])
    )
    df_long = df.select(id_col, expr(expr_str))

    # 2. Separar Mes y Métrica
    df_long = df_long.withColumn("Mes", regexp_extract("Columna", r"^(.*)_(Venta|TGT|PY24|pct)$", 1)) \
                     .withColumn("Metrica", regexp_extract("Columna", r"^(.*)_(Venta|TGT|PY24|pct)$", 2)) \
                     .drop("Columna")

    # 3. Pivotear: convertir Métrica en columnas (formato wide final)
    df_wide = df_long.groupBy(id_col, "Mes").pivot("Metrica").agg(F.first("Valor"))

    # 4. Normalizar columna Mes (limpieza de texto)
    df_wide = df_wide.withColumn("Mes", trim(upper(df_wide["Mes"])))

    # 5. Limpieza y tipado de métricas (casteo a double y reemplazo de nulos)
    metricas = ["Venta", "TGT", "PY24", "pct"]
    for m in metricas:
        df_wide = df_wide.withColumn(
            m,
            when(col(m).isNull(), 0.0).otherwise(col(m).cast("double"))
        )

    # 6. Agregar columna de nivel
    df_wide = df_wide.withColumn("Nivel", lit(nivel_valor))
    
    return df_wide

# ==============================
# 2. Ejecución del Transform
# ==============================

# Aplicar transformación a ambos datasets
df_familia_wide = transform_to_wide_format(df_familia_raw, "FAMILIA")
df_producto_wide = transform_to_wide_format(df_producto_raw, "PRODUCTO")

# 3. Unir ambos datasets limpios (Transformación final)
df_total = (
    df_familia_wide
    .unionByName(df_producto_wide, allowMissingColumns=True)
)

# Muestra para verificación
print("\n=== Resultado Unificado y Limpio (después de Transform) ===")
df_total.show(5, truncate=False)
df_total.printSchema()

=== Resultado Unificado y Limpio (después de Transform) ===
+----------------+---------+--------+-----------+---------+-----------+-------+
|Producto_Familia|Mes      |PY24    |TGT        |Venta    |pct        |Nivel  |
+----------------+---------+--------+-----------+---------+-----------+-------+
|AGGLAD          |ABRIL    |24635.46|120891.2407|91519.9  |0.757043269|FAMILIA|
|AGGLAD          |AGOSTO   |25769.42|2560.845455|0.0      |0.0        |FAMILIA|
|AGGLAD          |DICIEMBRE|71802.0 |2681.545455|0.0      |0.0        |FAMILIA|
|AGGLAD          |ENERO    |22534.35|110094.81  |110094.81|1.0        |FAMILIA|
|AGGLAD          |FEBRERO  |31785.06|114546.1364|110784.62|0.96716156 |FAMILIA|
+----------------+---------+--------+-----------+---------+-----------+-------+
only showing top 5 rows

root
 |-- Producto_Familia: string (nullable = true)
 |-- Mes: string (nullable = true)
 |-- PY24: double (nullable = true)
 |-- TGT: double (nullable = true)
 |-- Venta: double (nullable = true)
 |-- pct: double (nullable = true)
 |-- Nivel: string (nullable = false)

In [3]:
# ==============================
# 1. Path de Destino
# ==============================
output_path = "/user/etl_output/resumen_ventas_limpio.parquet"

# ==============================
# 2. Ejecución del Load
# ==============================
print(f"\nEscribiendo resultado limpio en: {output_path}")

# Escribir el DataFrame final a Parquet en HDFS
df_total.write \
    .mode("overwrite") \
    .parquet(output_path)

print("Proceso ETL (Extract, Transform, Load) finalizado y datos cargados.")

# Detener Spark Session
spark.stop()

Escribiendo resultado limpio en: /user/etl_output/resumen_ventas_limpio.parquet

Proceso ETL (Extract, Transform, Load) finalizado y datos cargados.