## Cargar Dataframes

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import expr, col, lit
from pyspark.sql.functions import col, count, avg, sum, max, min, when, datediff, current_date
import re

In [2]:
# ==============================
# 1. Inicializar Spark Session
# ==============================
spark = SparkSession.builder \
    .appName("HDFS_NiFi_Data_Cleaning") \
    .config("spark.hadoop.fs.defaultFS", "hdfs://namenode:9000") \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/09/30 19:46:33 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
# ==============================
# 2. Paths en HDFS
# ==============================
hdfs_path_maestra = "hdfs://namenode:9000/user/nifi/maestra.csv"
hdfs_path_zona = "hdfs://namenode:9000/user/nifi/bd_zona.csv"

file_familia = "/user/nifi/Resumen_Valores-VENTA_POR_FAMILIA2.csv"
file_producto = "/user/nifi/Resumen_Valores-VENTA_POR_PRODUCTO2.csv"

In [4]:
# Primer CSV
df_maestra = spark.read.csv(hdfs_path_maestra, header=True, inferSchema=True, sep=";")
df_maestra.show(truncate=False)

+-----------+------------------+-------------------------------------------------+
|Producto   |Numero de articulo|Descripcion                                      |
+-----------+------------------+-------------------------------------------------+
|LAGRICEL PF|41582             |LAGRICEL OFTENO LIBRE DE CONSERVADORES (PF) 10 ML|
|ELIPTIC PF |41561             |ELIPTIC OFTENO 5ML PF PERU                       |
|LAGRICEL   |40515             |LAGRICEL OFTENO 0.5 ML                           |
|FLUMETOL NF|40513             |FLUMETOL NF OFTENO 5ML                           |
|TRAZIDEX O |40341             |TRAZIDEX OFTENO 5 ML.                            |
|TRAZIDEX U |40342             |TRAZIDEX UNGENA 3.5 G                            |
|SOPHIPREN  |40338             |SOPHIPREN OFTENO 5 ML                            |
|GAAP       |40498             |GAAP OFTENO 3 ML                                 |
|AQUADRAN   |41945             |AQUADRAN 10G                                     |
|GAAP PF    |41567             |GAAP OFTENO LIBRE DE CONSER PF 3 ML PERU         |
|ZEBESTEN   |41604             |ZEBESTEN 5ML PERU                                |
|LANDAX     |41804             |LANDAX 5ML                                       |
|ELAR-B     |42098             |ELAR-B 5 ML                                      |
|DUSTALOX   |41121             |DUSTALOX 5ML                                     |
|ELIPTIC    |41076             |ELIPTIC OFTENO 5ML                               |
|AGGLAD     |40351             |AGGLAD OFTENO 5 ML                               |
+-----------+------------------+-------------------------------------------------+

In [5]:
# Segundo CSV
df_zona = spark.read.csv(hdfs_path_zona, header=True, inferSchema=True, sep=";")
df_zona.show(truncate=False)

+-----------+-----------------------------------------------------------------+-----------+-------+---+-------+--------+
|Vendedor   |Nombre Cliente                                                   |Producto   |MES NUM|Mes|2025   |CANTIDAD|
+-----------+-----------------------------------------------------------------+-----------+-------+---+-------+--------+
|Pharma - N1|ADMINISTRADORA CLINICA TRESA S.A                                 |AGGLAD     |1      |ENE|0      |0       |
|Pharma - N1|ADMINISTRADORA CLINICA TRESA S.A                                 |FLUMETOL NF|1      |ENE|0      |0       |
|Pharma - N1|ADMINISTRADORA CLINICA TRESA S.A                                 |GAAP       |1      |ENE|0      |0       |
|Pharma - N1|ADMINISTRADORA CLINICA TRESA S.A                                 |LAGRICEL   |1      |ENE|0      |0       |
|Pharma - N1|BENEL PEREZ,DENNY JAVIER                                         |FLUMETOL NF|1      |ENE|898.37 |20      |
|Pharma - N1|BENEL PEREZ,DENNY JAVIER                                         |TRAZIDEX U |1      |ENE|1028.61|20      |
|Pharma - N1|BM CLINICA DE OJOS S.A.C.                                        |FLUMETOL NF|1      |ENE|612.53 |15      |
|Pharma - N1|BM CLINICA DE OJOS S.A.C.                                        |GAAP       |1      |ENE|1925.85|25      |
|Pharma - N1|BM CLINICA DE OJOS S.A.C.                                        |TRAZIDEX O |1      |ENE|250.05 |6       |
|Pharma - N1|BM CLINICA DE OJOS S.A.C.                                        |TRAZIDEX U |1      |ENE|635.59 |0       |
|Pharma - N1|BUENA VISION NORTE EMPRESA INDIVIDUAL DE RESPONSABILIDAD LIMITADA|TRAZIDEX U |1      |ENE|1028.61|0       |
|Pharma - N1|CARMONA HUAYGUA,KARLA FABIOLA                                    |AQUADRAN   |1      |ENE|540    |0       |
|Pharma - N1|CARMONA HUAYGUA,KARLA FABIOLA                                    |ELIPTIC PF |1      |ENE|237.76 |0       |
|Pharma - N1|CARMONA HUAYGUA,KARLA FABIOLA                                    |SOPHIPREN  |1      |ENE|465.85 |0       |
|Pharma - N1|CARMONA HUAYGUA,KARLA FABIOLA                                    |ZEBESTEN   |1      |ENE|490.88 |0       |
|Pharma - N1|CENTRO MEDICO VIDAVA'S S.A.C.                                    |AGGLAD     |1      |ENE|0      |0       |
|Pharma - N1|CENTRO MEDICO VIDAVA'S S.A.C.                                    |AQUADRAN   |1      |ENE|0      |0       |
|Pharma - N1|CENTRO MEDICO VIDAVA'S S.A.C.                                    |ZEBESTEN   |1      |ENE|0      |0       |
|Pharma - N1|CENTRO OFTALMOLOGICO NOBA VISION E.I.R.L.                        |ELIPTIC PF |1      |ENE|1144.01|0       |
|Pharma - N1|CENTRO OFTALMOLOGICO NOBA VISION E.I.R.L.                        |LAGRICEL PF|1      |ENE|1249.71|0       |
+-----------+-----------------------------------------------------------------+-----------+-------+---+-------+--------+
only showing top 20 rows

### Corrección y adaptación de resumen de valores y unidades

In [6]:
def rename_month_columns(df):
    """
    Renombra los bloques de columnas por mes con las métricas:
    Venta, TGT, PY24, pct
    """
    meses = ["Enero","Febrero","Marzo","Abril","Mayo","Junio",
             "Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre","YTD_JUL"]
    metricas = ["Venta","TGT","PY24","pct"]

    new_cols = ["Producto_Familia"]  # primera columna fija
    col_idx = 1  # empezamos después de Producto_Familia

    for mes in meses:
        for metrica in metricas:
            if col_idx < len(df.columns):
                new_cols.append(f"{mes}_{metrica}")
                col_idx += 1

    # Si sobran columnas (por ruido en el CSV), las nombramos Extra
    while len(new_cols) < len(df.columns):
        new_cols.append(f"Extra_{len(new_cols)}")

    return df.toDF(*new_cols)

In [7]:
def load_and_clean(path):
    # ============================
    # 1. Leer CSV sin header
    # ============================
    df = spark.read.option("sep", ";").option("header", "false").csv(path)

    # ============================
    # 2. Tomar primera fila como header real
    # ============================
    header_row = df.first()

    # ============================
    # 3. Filtrar esa fila del dataframe
    # ============================
    df = df.filter(col("_c0") != header_row[0])

    # ============================
    # 4. Columnas temporales
    # ============================
    tmp_headers = [f"Col_{i}" for i in range(len(df.columns))]
    df = df.toDF(*tmp_headers)

    # ============================
    # 5. Renombrar columnas a Mes_Métrica
    # ============================
    df = rename_month_columns(df)

    return df

In [8]:
# ==============================
# 6. Aplicar función
# ==============================
df_familia = load_and_clean(file_familia)
df_producto = load_and_clean(file_producto)

25/09/30 19:46:53 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

In [9]:
df_familia.printSchema()
df_producto.printSchema()

root
 |-- Producto_Familia: string (nullable = true)
 |-- Enero_Venta: string (nullable = true)
 |-- Enero_TGT: string (nullable = true)
 |-- Enero_PY24: string (nullable = true)
 |-- Enero_pct: string (nullable = true)
 |-- Febrero_Venta: string (nullable = true)
 |-- Febrero_TGT: string (nullable = true)
 |-- Febrero_PY24: string (nullable = true)
 |-- Febrero_pct: string (nullable = true)
 |-- Marzo_Venta: string (nullable = true)
 |-- Marzo_TGT: string (nullable = true)
 |-- Marzo_PY24: string (nullable = true)
 |-- Marzo_pct: string (nullable = true)
 |-- Abril_Venta: string (nullable = true)
 |-- Abril_TGT: string (nullable = true)
 |-- Abril_PY24: string (nullable = true)
 |-- Abril_pct: string (nullable = true)
 |-- Mayo_Venta: string (nullable = true)
 |-- Mayo_TGT: string (nullable = true)
 |-- Mayo_PY24: string (nullable = true)
 |-- Mayo_pct: string (nullable = true)
 |-- Junio_Venta: string (nullable = true)
 |-- Junio_TGT: string (nullable = true)
 |-- Junio_PY24: string (nullable = true)
 |-- Junio_pct: string (nullable = true)
 |-- Julio_Venta: string (nullable = true)
 |-- Julio_TGT: string (nullable = true)
 |-- Julio_PY24: string (nullable = true)
 |-- Julio_pct: string (nullable = true)
 |-- Agosto_Venta: string (nullable = true)
 |-- Agosto_TGT: string (nullable = true)
 |-- Agosto_PY24: string (nullable = true)
 |-- Agosto_pct: string (nullable = true)
 |-- Septiembre_Venta: string (nullable = true)
 |-- Septiembre_TGT: string (nullable = true)
 |-- Septiembre_PY24: string (nullable = true)
 |-- Septiembre_pct: string (nullable = true)
 |-- Octubre_Venta: string (nullable = true)
 |-- Octubre_TGT: string (nullable = true)
 |-- Octubre_PY24: string (nullable = true)
 |-- Octubre_pct: string (nullable = true)
 |-- Noviembre_Venta: string (nullable = true)
 |-- Noviembre_TGT: string (nullable = true)
 |-- Noviembre_PY24: string (nullable = true)
 |-- Noviembre_pct: string (nullable = true)
 |-- Diciembre_Venta: string (nullable = true)
 |-- Diciembre_TGT: string (nullable = true)
 |-- Diciembre_PY24: string (nullable = true)
 |-- Diciembre_pct: string (nullable = true)
 |-- YTD_JUL_Venta: string (nullable = true)
 |-- YTD_JUL_TGT: string (nullable = true)
 |-- YTD_JUL_PY24: string (nullable = true)
 |-- YTD_JUL_pct: string (nullable = true)

root
 |-- Producto_Familia: string (nullable = true)
 |-- Enero_Venta: string (nullable = true)
 |-- Enero_TGT: string (nullable = true)
 |-- Enero_PY24: string (nullable = true)
 |-- Enero_pct: string (nullable = true)
 |-- Febrero_Venta: string (nullable = true)
 |-- Febrero_TGT: string (nullable = true)
 |-- Febrero_PY24: string (nullable = true)
 |-- Febrero_pct: string (nullable = true)
 |-- Marzo_Venta: string (nullable = true)
 |-- Marzo_TGT: string (nullable = true)
 |-- Marzo_PY24: string (nullable = true)
 |-- Marzo_pct: string (nullable = true)
 |-- Abril_Venta: string (nullable = true)
 |-- Abril_TGT: string (nullable = true)
 |-- Abril_PY24: string (nullable = true)
 |-- Abril_pct: string (nullable = true)
 |-- Mayo_Venta: string (nullable = true)
 |-- Mayo_TGT: string (nullable = true)
 |-- Mayo_PY24: string (nullable = true)
 |-- Mayo_pct: string (nullable = true)
 |-- Junio_Venta: string (nullable = true)
 |-- Junio_TGT: string (nullable = true)
 |-- Junio_PY24: string (nullable = true)
 |-- Junio_pct: string (nullable = true)
 |-- Julio_Venta: string (nullable = true)
 |-- Julio_TGT: string (nullable = true)
 |-- Julio_PY24: string (nullable = true)
 |-- Julio_pct: string (nullable = true)
 |-- Agosto_Venta: string (nullable = true)
 |-- Agosto_TGT: string (nullable = true)
 |-- Agosto_PY24: string (nullable = true)
 |-- Agosto_pct: string (nullable = true)
 |-- Septiembre_Venta: string (nullable = true)
 |-- Septiembre_TGT: string (nullable = true)
 |-- Septiembre_PY24: string (nullable = true)
 |-- Septiembre_pct: string (nullable = true)
 |-- Octubre_Venta: string (nullable = true)
 |-- Octubre_TGT: string (nullable = true)
 |-- Octubre_PY24: string (nullable = true)
 |-- Octubre_pct: string (nullable = true)
 |-- Noviembre_Venta: string (nullable = true)
 |-- Noviembre_TGT: string (nullable = true)
 |-- Noviembre_PY24: string (nullable = true)
 |-- Noviembre_pct: string (nullable = true)
 |-- Diciembre_Venta: string (nullable = true)
 |-- Diciembre_TGT: string (nullable = true)
 |-- Diciembre_PY24: string (nullable = true)
 |-- Diciembre_pct: string (nullable = true)
 |-- YTD_JUL_Venta: string (nullable = true)
 |-- YTD_JUL_TGT: string (nullable = true)
 |-- YTD_JUL_PY24: string (nullable = true)
 |-- YTD_JUL_pct: string (nullable = true)

In [10]:
# De forma alargada
from pyspark.sql.functions import expr, regexp_extract, first
from pyspark.sql import functions as F

def unpivot_to_wide(df):
    id_col = "Producto_Familia"
    value_cols = [c for c in df.columns if c != id_col]

    # Crear expresión stack dinámicamente
    expr_str = "stack({0}, {1}) as (Columna, Valor)".format(
        len(value_cols),
        ",".join([f"'{c}', {c}" for c in value_cols])
    )

    # Expandir a formato largo
    df_long = df.select(id_col, expr(expr_str))

    # Separar Mes y Métrica
    df_long = df_long.withColumn("Mes", regexp_extract("Columna", r"^(.*)_(Venta|TGT|PY24|pct)$", 1)) \
                     .withColumn("Metrica", regexp_extract("Columna", r"^(.*)_(Venta|TGT|PY24|pct)$", 2)) \
                     .drop("Columna")

    # Pivotear: convertir Métrica en columnas
    df_wide = df_long.groupBy(id_col, "Mes").pivot("Metrica").agg(F.first("Valor"))

    return df_wide

In [11]:
from pyspark.sql.functions import col

# Quitar la fila "Producto"
df_familia_clean = df_familia.filter(df_familia["Producto_Familia"] != "Producto")
df_producto_clean = df_producto.filter(df_producto["Producto_Familia"] != "Producto")

# Aplicar unpivot corregido (con pivot final)
df_familia_wide = unpivot_to_wide(df_familia_clean)
df_producto_wide = unpivot_to_wide(df_producto_clean)

# Convertir columnas numéricas a double
num_cols = ["Venta", "TGT", "PY24", "pct"]

for c in num_cols:
    df_familia_wide = df_familia_wide.withColumn(c, col(c).cast("double"))
    df_producto_wide = df_producto_wide.withColumn(c, col(c).cast("double"))

# Mostrar resultados
print("=== Familia ===")
df_familia_wide.show(20, truncate=False)

print("=== Producto ===")
df_producto_wide.show(20, truncate=False)

=== Familia ===
+----------------+----------+---------+-----------+---------+-----------+
|Producto_Familia|Mes       |PY24     |TGT        |Venta    |pct        |
+----------------+----------+---------+-----------+---------+-----------+
|AGGLAD          |Abril     |24635.46 |120891.2407|91519.9  |0.757043269|
|AGGLAD          |Agosto    |25769.42 |2560.845455|0.0      |0.0        |
|AGGLAD          |Diciembre |71802.0  |2681.545455|0.0      |0.0        |
|AGGLAD          |Enero     |22534.35 |110094.81  |110094.81|1.0        |
|AGGLAD          |Febrero   |31785.06 |114546.1364|110784.62|0.96716156 |
|AGGLAD          |Julio     |29784.66 |133581.4492|18240.65 |0.136550772|
|AGGLAD          |Junio     |20271.95 |120891.2407|92445.3  |0.764698083|
|AGGLAD          |Marzo     |31785.06 |114546.1364|81102.53 |0.708033745|
|AGGLAD          |Mayo      |26193.67 |120891.2407|80999.82 |0.670022241|
|AGGLAD          |Noviembre |52414.29 |2681.545455|0.0      |0.0        |
|AGGLAD          |Octubre   |20463.2  |2681.545455|0.0      |0.0        |
|AGGLAD          |Septiembre|32943.44 |2560.845455|0.0      |0.0        |
|AGGLAD          |YTD_JUL   |186990.21|835442.2541|585187.63|0.700452517|
|AQUADRAN        |Abril     |18754.2  |35738.51318|48886.2  |1.367885669|
|AQUADRAN        |Agosto    |21054.6  |734.9681818|0.0      |0.0        |
|AQUADRAN        |Diciembre |18198.0  |770.8181818|0.0      |0.0        |
|AQUADRAN        |Enero     |3348.0   |44517.6    |44517.6  |1.0        |
|AQUADRAN        |Febrero   |13176.0  |33810.57818|34954.2  |1.033824379|
|AQUADRAN        |Julio     |19218.6  |39594.38318|5292.0   |0.133655321|
|AQUADRAN        |Junio     |15957.0  |35738.51318|47521.3  |1.329694376|
+----------------+----------+---------+-----------+---------+-----------+
only showing top 20 rows

=== Producto ===
+----------------+----------+---------+-----------+---------+------------+
|Producto_Familia|Mes       |PY24     |TGT        |Venta    |pct         |
+----------------+----------+---------+-----------+---------+------------+
|AGGLAD          |Abril     |24635.46 |120891.2407|91519.9  |0.757043269 |
|AGGLAD          |Agosto    |25769.42 |2560.845455|0.0      |-1.0        |
|AGGLAD          |Diciembre |71802.0  |2681.545455|0.0      |-1.0        |
|AGGLAD          |Enero     |22534.35 |110094.81  |110094.81|1.0         |
|AGGLAD          |Febrero   |31785.06 |114546.1364|110784.62|0.96716156  |
|AGGLAD          |Julio     |29784.66 |133581.4492|18240.65 |-0.863449228|
|AGGLAD          |Junio     |20271.95 |120891.2407|92445.3  |-0.235301917|
|AGGLAD          |Marzo     |31785.06 |114546.1364|81102.53 |0.708033745 |
|AGGLAD          |Mayo      |26193.67 |120891.2407|80999.82 |0.670022241 |
|AGGLAD          |Noviembre |52414.29 |2681.545455|0.0      |-1.0        |
|AGGLAD          |Octubre   |20463.2  |2681.545455|0.0      |-1.0        |
|AGGLAD          |Septiembre|32943.44 |2560.845455|0.0      |-1.0        |
|AGGLAD          |YTD_JUL   |186990.21|835442.2541|585187.63|0.700452517 |
|AQUADRAN        |Abril     |18754.2  |35738.51318|48886.2  |1.367885669 |
|AQUADRAN        |Agosto    |21054.6  |734.9681818|0.0      |-1.0        |
|AQUADRAN        |Diciembre |18198.0  |770.8181818|0.0      |-1.0        |
|AQUADRAN        |Enero     |3348.0   |44517.6    |44517.6  |1.0         |
|AQUADRAN        |Febrero   |13176.0  |33810.57818|34954.2  |1.033824379 |
|AQUADRAN        |Julio     |19218.6  |39594.38318|5292.0   |-0.866344679|
|AQUADRAN        |Junio     |15957.0  |35738.51318|47521.3  |0.329694376 |
+----------------+----------+---------+-----------+---------+------------+
only showing top 20 rows

In [12]:
from pyspark.sql.functions import trim, upper

# Normalizar columna Mes en ambos dataframes
df_familia_wide = df_familia_wide.withColumn("Mes", trim(upper(df_familia_wide["Mes"])))
df_producto_wide = df_producto_wide.withColumn("Mes", trim(upper(df_producto_wide["Mes"])))

In [13]:
from pyspark.sql.functions import when, col

# Lista de métricas a convertir
metricas = ["Venta", "TGT", "PY24", "pct"]

# Familia
for m in metricas:
    df_familia_wide = df_familia_wide.withColumn(
        m,
        when(col(m).isNull(), 0.0).otherwise(col(m).cast("double"))
    )

# Producto
for m in metricas:
    df_producto_wide = df_producto_wide.withColumn(
        m,
        when(col(m).isNull(), 0.0).otherwise(col(m).cast("double"))
    )

In [14]:
from pyspark.sql.functions import lit

# Agregar columna de nivel
df_familia_wide = df_familia_wide.withColumn("Nivel", lit("Familia"))
df_producto_wide = df_producto_wide.withColumn("Nivel", lit("Producto"))

# Unir ambos datasets
df_total = (
    df_familia_wide
    .unionByName(df_producto_wide, allowMissingColumns=True)
)

In [15]:
df_total.show(100, truncate=False)

+----------------+----------+----------+-----------+---------+-----------+-------+
|Producto_Familia|Mes       |PY24      |TGT        |Venta    |pct        |Nivel  |
+----------------+----------+----------+-----------+---------+-----------+-------+
|AGGLAD          |ABRIL     |24635.46  |120891.2407|91519.9  |0.757043269|Familia|
|AGGLAD          |AGOSTO    |25769.42  |2560.845455|0.0      |0.0        |Familia|
|AGGLAD          |DICIEMBRE |71802.0   |2681.545455|0.0      |0.0        |Familia|
|AGGLAD          |ENERO     |22534.35  |110094.81  |110094.81|1.0        |Familia|
|AGGLAD          |FEBRERO   |31785.06  |114546.1364|110784.62|0.96716156 |Familia|
|AGGLAD          |JULIO     |29784.66  |133581.4492|18240.65 |0.136550772|Familia|
|AGGLAD          |JUNIO     |20271.95  |120891.2407|92445.3  |0.764698083|Familia|
|AGGLAD          |MARZO     |31785.06  |114546.1364|81102.53 |0.708033745|Familia|
|AGGLAD          |MAYO      |26193.67  |120891.2407|80999.82 |0.670022241|Familia|
|AGGLAD          |NOVIEMBRE |52414.29  |2681.545455|0.0      |0.0        |Familia|
|AGGLAD          |OCTUBRE   |20463.2   |2681.545455|0.0      |0.0        |Familia|
|AGGLAD          |SEPTIEMBRE|32943.44  |2560.845455|0.0      |0.0        |Familia|
|AGGLAD          |YTD_JUL   |186990.21 |835442.2541|585187.63|0.700452517|Familia|
|AQUADRAN        |ABRIL     |18754.2   |35738.51318|48886.2  |1.367885669|Familia|
|AQUADRAN        |AGOSTO    |21054.6   |734.9681818|0.0      |0.0        |Familia|
|AQUADRAN        |DICIEMBRE |18198.0   |770.8181818|0.0      |0.0        |Familia|
|AQUADRAN        |ENERO     |3348.0    |44517.6    |44517.6  |1.0        |Familia|
|AQUADRAN        |FEBRERO   |13176.0   |33810.57818|34954.2  |1.033824379|Familia|
|AQUADRAN        |JULIO     |19218.6   |39594.38318|5292.0   |0.133655321|Familia|
|AQUADRAN        |JUNIO     |15957.0   |35738.51318|47521.3  |1.329694376|Familia|
|AQUADRAN        |MARZO     |13176.0   |33810.57818|43507.8  |1.286810293|Familia|
|AQUADRAN        |MAYO      |13786.2   |35738.51318|46764.0  |1.308504351|Familia|
|AQUADRAN        |NOVIEMBRE |23765.4   |770.8181818|0.0      |0.0        |Familia|
|AQUADRAN        |OCTUBRE   |24548.4   |770.8181818|0.0      |0.0        |Familia|
|AQUADRAN        |SEPTIEMBRE|24526.8   |734.9681818|0.0      |0.0        |Familia|
|AQUADRAN        |YTD_JUL   |97416.0   |258948.6791|271443.1 |1.048250568|Familia|
|DUSTALOX        |ABRIL     |9428.91   |11675.36719|7592.8   |0.650326442|Familia|
|DUSTALOX        |AGOSTO    |9930.94   |301.3045455|0.0      |0.0        |Familia|
|DUSTALOX        |DICIEMBRE |7691.21   |315.4545455|0.0      |0.0        |Familia|
|DUSTALOX        |ENERO     |13592.53  |8778.28    |8778.28  |1.0        |Familia|
|DUSTALOX        |FEBRERO   |6813.43   |11070.27913|6292.47  |0.568411142|Familia|
|DUSTALOX        |JULIO     |11432.26  |12885.54331|196.9    |0.015280691|Familia|
|DUSTALOX        |JUNIO     |5938.11   |11675.36719|6509.96  |0.55758075 |Familia|
|DUSTALOX        |MARZO     |6813.43   |11070.27913|9824.29  |0.887447361|Familia|
|DUSTALOX        |MAYO      |12191.14  |11675.36719|5942.22  |0.508953586|Familia|
|DUSTALOX        |NOVIEMBRE |8889.02   |315.4545455|0.0      |0.0        |Familia|
|DUSTALOX        |OCTUBRE   |7104.66   |315.4545455|0.0      |0.0        |Familia|
|DUSTALOX        |SEPTIEMBRE|13358.57  |301.3045455|0.0      |0.0        |Familia|
|DUSTALOX        |YTD_JUL   |66209.81  |78830.48315|45136.92 |0.572582054|Familia|
|ELAR-B          |ABRIL     |0.0       |24407.71845|14996.0  |0.614395812|Familia|
|ELAR-B          |AGOSTO    |0.0       |495.3454545|0.0      |0.0        |Familia|
|ELAR-B          |DICIEMBRE |2926.75   |516.9454545|0.0      |0.0        |Familia|
|ELAR-B          |ENERO     |0.0       |10200.5    |10200.5  |1.0        |Familia|
|ELAR-B          |FEBRERO   |0.0       |23180.02945|14426.75 |0.622378415|Familia|
|ELAR-B          |JULIO     |0.0       |26863.09645|6767.75  |0.251934843|Familia|
|ELAR-B          |JUNIO     |0.0       |24407.71845|17209.75 |0.70509458 |Familia|
|ELAR-B          |MARZO     |0.0       |23180.02945|20688.5  |0.892513965|Familia|
|ELAR-B          |MAYO      |0.0       |24407.71845|16864.75 |0.690959707|Familia|
|ELAR-B          |NOVIEMBRE |5916.75   |517.9454545|0.0      |0.0        |Familia|
|ELAR-B          |OCTUBRE   |8280.0    |517.9454545|0.0      |0.0        |Familia|
|ELAR-B          |SEPTIEMBRE|1748.0    |495.3454545|0.0      |0.0        |Familia|
|ELAR-B          |YTD_JUL   |0.0       |156646.8107|101154.0 |0.645745672|Familia|
|ELIPTIC FAM     |ABRIL     |33278.04  |113627.5028|51806.79 |0.455935304|Familia|
|ELIPTIC FAM     |AGOSTO    |31060.62  |3448.722727|0.0      |0.0        |Familia|
|ELIPTIC FAM     |DICIEMBRE |52246.26  |3609.272727|0.0      |0.0        |Familia|
|ELIPTIC FAM     |ENERO     |17741.06  |75101.55   |75101.55 |1.0        |Familia|
|ELIPTIC FAM     |FEBRERO   |19544.51  |107789.2834|84288.73 |0.781976903|Familia|
|ELIPTIC FAM     |JULIO     |21877.87  |125303.9417|10218.55 |0.081550108|Familia|
|ELIPTIC FAM     |JUNIO     |18571.16  |113627.5028|61069.66 |0.537454916|Familia|
|ELIPTIC FAM     |MARZO     |19544.51  |107789.2834|61213.98 |0.567904137|Familia|
|ELIPTIC FAM     |MAYO      |14473.58  |113627.5028|60995.68 |0.536803841|Familia|
|ELIPTIC FAM     |NOVIEMBRE |45634.51  |3609.272727|0.0      |0.0        |Familia|
|ELIPTIC FAM     |OCTUBRE   |24297.2   |3609.272727|0.0      |0.0        |Familia|
|ELIPTIC FAM     |SEPTIEMBRE|30695.48  |3448.722727|0.0      |0.0        |Familia|
|ELIPTIC FAM     |YTD_JUL   |145030.73 |756866.5668|404694.94|0.534697869|Familia|
|FLUMETOL NF     |ABRIL     |97096.28  |107397.8095|131378.66|1.22328994 |Familia|
|FLUMETOL NF     |AGOSTO    |120003.77 |734.9681818|0.0      |0.0        |Familia|
|FLUMETOL NF     |DICIEMBRE |97687.65  |770.8181818|0.0      |0.0        |Familia|
|FLUMETOL NF     |ENERO     |106644.0  |144656.97  |144656.97|1.0        |Familia|
|FLUMETOL NF     |FEBRERO   |84540.52  |101550.4985|130538.81|1.285457107|Familia|
|FLUMETOL NF     |JULIO     |99312.38  |119092.4315|19849.85 |0.166675999|Familia|
|FLUMETOL NF     |JUNIO     |87288.94  |107397.8095|115107.7 |1.071788154|Familia|
|FLUMETOL NF     |MARZO     |84540.52  |101550.4985|142159.6 |1.399890715|Familia|
|FLUMETOL NF     |MAYO      |84208.66  |107397.8095|126975.41|1.182290501|Familia|
|FLUMETOL NF     |NOVIEMBRE |138467.25 |770.8181818|0.0      |0.0        |Familia|
|FLUMETOL NF     |OCTUBRE   |133096.68 |770.8181818|0.0      |0.0        |Familia|
|FLUMETOL NF     |SEPTIEMBRE|108382.52 |734.9681818|0.0      |0.0        |Familia|
|FLUMETOL NF     |YTD_JUL   |643631.3  |789043.8271|810667.0 |1.027404274|Familia|
|GAAP FAM        |ABRIL     |162597.45 |199898.6823|105247.15|0.52650247 |Familia|
|GAAP FAM        |AGOSTO    |200913.89 |2823.254545|0.0      |0.0        |Familia|
|GAAP FAM        |DICIEMBRE |136807.4  |2956.454545|0.0      |0.0        |Familia|
|GAAP FAM        |ENERO     |169078.66 |198788.44  |198788.44|1.0        |Familia|
|GAAP FAM        |FEBRERO   |165560.48 |189336.242 |160505.48|0.847727188|Familia|
|GAAP FAM        |JULIO     |194520.31 |221023.5628|32603.91 |0.147513277|Familia|
|GAAP FAM        |JUNIO     |155690.3  |199898.6823|157333.82|0.78706782 |Familia|
|GAAP FAM        |MARZO     |165560.48 |189336.242 |150621.08|0.795521652|Familia|
|GAAP FAM        |MAYO      |189372.95 |199898.6823|125926.36|0.629950926|Familia|
|GAAP FAM        |NOVIEMBRE |187016.44 |2957.654545|0.0      |0.0        |Familia|
|GAAP FAM        |OCTUBRE   |166393.8  |2957.654545|0.0      |0.0        |Familia|
|GAAP FAM        |SEPTIEMBRE|170748.45 |2823.254545|0.0      |0.0        |Familia|
|GAAP FAM        |YTD_JUL   |1202380.63|1398180.534|931026.24|0.665884138|Familia|
|LAGRICEL FAM    |ABRIL     |375415.05 |436918.8275|456361.02|1.044498409|Familia|
|LAGRICEL FAM    |AGOSTO    |444312.92 |9579.386364|0.0      |0.0        |Familia|
|LAGRICEL FAM    |DICIEMBRE |287199.94 |10033.63636|0.0      |0.0        |Familia|
|LAGRICEL FAM    |ENERO     |395594.16 |377004.34  |377004.34|1.0        |Familia|
|LAGRICEL FAM    |FEBRERO   |439211.52 |414081.2322|413613.96|0.998871545|Familia|
|LAGRICEL FAM    |JULIO     |390711.15 |482594.018 |66352.14 |0.137490598|Familia|
|LAGRICEL FAM    |JUNIO     |312000.17 |436918.8275|386762.05|0.885203442|Familia|
|LAGRICEL FAM    |MARZO     |439211.52 |414081.2322|447456.98|1.080601933|Familia|
|LAGRICEL FAM    |MAYO      |357482.49 |436918.8275|348233.36|0.797020724|Familia|
+----------------+----------+----------+-----------+---------+-----------+-------+
only showing top 100 rows

## Manejo de datos nulos

In [16]:
from pyspark.sql.functions import col

# Contar nulos en df_maestra
df_maestra.select([
    (col(c).isNull().cast("int")).alias(c) for c in df_maestra.columns
]).groupBy().sum().show()

# Contar nulos en df_zona
df_zona.select([
    (col(c).isNull().cast("int")).alias(c) for c in df_zona.columns
]).groupBy().sum().show()

+-------------+-----------------------+----------------+
|sum(Producto)|sum(Numero de articulo)|sum(Descripcion)|
+-------------+-----------------------+----------------+
|            0|                      0|               0|
+-------------+-----------------------+----------------+

+-------------+-------------------+-------------+------------+--------+---------+-------------+
|sum(Vendedor)|sum(Nombre Cliente)|sum(Producto)|sum(MES NUM)|sum(Mes)|sum(2025)|sum(CANTIDAD)|
+-------------+-------------------+-------------+------------+--------+---------+-------------+
|            0|                  0|            0|           0|       0|        0|            0|
+-------------+-------------------+-------------+------------+--------+---------+-------------+

In [17]:
# Eliminar filas con valores nulos en maestra
df_maestra_clean = df_maestra.na.drop()

# Eliminar filas con valores nulos en zona
df_zona_clean = df_zona.na.drop()

In [18]:
# Rellenar con texto en columnas de tipo string
df_maestra_filled = df_maestra.na.fill("Desconocido")

# Rellenar con 0 en columnas numéricas de df_zona
df_zona_filled = df_zona.na.fill(0)

## Correción de tipo de datos

In [19]:
df_maestra = df_maestra.withColumn("Numero de articulo", col("Numero de articulo").cast("int"))

In [20]:
df_zona = df_zona.withColumn("2025", col("2025").cast("double"))

In [21]:
# Filtrado de datos irrelevantes

In [22]:
# Filtrar productos sin descripción
df_maestra = df_maestra.filter(col("Descripcion").isNotNull())

# Filtrar zonas con ventas registradas en cero
df_zona = df_zona.filter(col("2025") > 0)

## Union

In [23]:
df_zona = df_zona.filter(col("CANTIDAD") >= 0)
df_zona = df_zona.filter(col("2025") >= 0)

In [24]:
from pyspark.sql.functions import col

df_final = df_maestra.join(
    df_zona,
    df_maestra["Producto"] == df_zona["Producto"],
    how="inner"
).drop(df_zona["Producto"])

In [25]:
df_final.show()

+-----------+------------------+--------------------+-----------+--------------------+-------+---+-------+--------+
|   Producto|Numero de articulo|         Descripcion|   Vendedor|      Nombre Cliente|MES NUM|Mes|   2025|CANTIDAD|
+-----------+------------------+--------------------+-----------+--------------------+-------+---+-------+--------+
|FLUMETOL NF|             40513|FLUMETOL NF OFTEN...|Pharma - N1|BENEL PEREZ,DENNY...|      1|ENE| 898.37|      20|
| TRAZIDEX U|             40342|TRAZIDEX UNGENA 3...|Pharma - N1|BENEL PEREZ,DENNY...|      1|ENE|1028.61|      20|
|FLUMETOL NF|             40513|FLUMETOL NF OFTEN...|Pharma - N1|BM CLINICA DE OJO...|      1|ENE| 612.53|      15|
|       GAAP|             40498|    GAAP OFTENO 3 ML|Pharma - N1|BM CLINICA DE OJO...|      1|ENE|1925.85|      25|
| TRAZIDEX O|             40341|TRAZIDEX OFTENO 5...|Pharma - N1|BM CLINICA DE OJO...|      1|ENE| 250.05|       6|
| TRAZIDEX U|             40342|TRAZIDEX UNGENA 3...|Pharma - N1|BM CLINICA DE OJO...|      1|ENE| 635.59|       0|
| TRAZIDEX U|             40342|TRAZIDEX UNGENA 3...|Pharma - N1|BUENA VISION NORT...|      1|ENE|1028.61|       0|
|   AQUADRAN|             41945|        AQUADRAN 10G|Pharma - N1|CARMONA HUAYGUA,K...|      1|ENE|  540.0|       0|
| ELIPTIC PF|             41561|ELIPTIC OFTENO 5M...|Pharma - N1|CARMONA HUAYGUA,K...|      1|ENE| 237.76|       0|
|  SOPHIPREN|             40338|SOPHIPREN OFTENO ...|Pharma - N1|CARMONA HUAYGUA,K...|      1|ENE| 465.85|       0|
|   ZEBESTEN|             41604|   ZEBESTEN 5ML PERU|Pharma - N1|CARMONA HUAYGUA,K...|      1|ENE| 490.88|       0|
| ELIPTIC PF|             41561|ELIPTIC OFTENO 5M...|Pharma - N1|CENTRO OFTALMOLOG...|      1|ENE|1144.01|       0|
|LAGRICEL PF|             41582|LAGRICEL OFTENO L...|Pharma - N1|CENTRO OFTALMOLOG...|      1|ENE|1249.71|       0|
|     LANDAX|             41804|          LANDAX 5ML|Pharma - N1|CENTRO OFTALMOLOG...|      1|ENE|  466.1|       0|
| TRAZIDEX O|             40341|TRAZIDEX OFTENO 5...|Pharma - N1|CENTRO OFTALMOLOG...|      1|ENE| 509.36|       0|
|   ZEBESTEN|             41604|   ZEBESTEN 5ML PERU|Pharma - N1|CENTRO OFTALMOLOG...|      1|ENE| 981.75|       0|
|     AGGLAD|             40351|  AGGLAD OFTENO 5 ML|Pharma - N1|CLINICA DE OJOS G...|      1|ENE| 513.58|       0|
| ELIPTIC PF|             41561|ELIPTIC OFTENO 5M...|Pharma - N1|CLINICA DE OJOS G...|      1|ENE| 389.83|      10|
|LAGRICEL PF|             41582|LAGRICEL OFTENO L...|Pharma - N1|CLINICA DE OJOS G...|      1|ENE|1981.36|       0|
|   ZEBESTEN|             41604|   ZEBESTEN 5ML PERU|Pharma - N1|CLINICA DE OJOS G...|      1|ENE| 490.88|       0|
+-----------+------------------+--------------------+-----------+--------------------+-------+---+-------+--------+
only showing top 20 rows

## Feature engeeniring

In [30]:
from pyspark.sql.functions import col, count, avg, sum, max, min, when, datediff, current_date

In [31]:
df_final = df_final.withColumn("Precio_Unitario", 
                               when(col("CANTIDAD") > 0, col("2025") / col("CANTIDAD")).otherwise(0))

In [32]:
df_final = df_final.withColumn("Precio_Unitario", 
                               when(col("CANTIDAD") > 0, col("2025") / col("CANTIDAD")).otherwise(0))

In [33]:
# 2. Gasto total por cliente
gasto_cliente = df_final.groupBy("Nombre Cliente").agg(sum("2025").alias("Gasto_Total"))

In [34]:
# 3. Cantidad total por cliente
cantidad_cliente = df_final.groupBy("Nombre Cliente").agg(sum("CANTIDAD").alias("Cantidad_Total"))

In [35]:
# 4. Promedio de gasto y cantidad por cliente
promedios_cliente = df_final.groupBy("Nombre Cliente").agg(
    avg("2025").alias("Gasto_Promedio"),
    avg("CANTIDAD").alias("Cantidad_Promedio")
)

# 5. Frecuencia de compra por cliente (número de transacciones)
frecuencia_cliente = df_final.groupBy("Nombre Cliente").agg(
    count("Producto").alias("Frecuencia_Compra")
)

# 6. Última compra (para calcular recencia)
ultima_compra = df_final.groupBy("Nombre Cliente").agg(
    max("MES NUM").alias("Ultimo_Mes")
)

In [36]:
# Combinar todas las features
features = gasto_cliente \
    .join(cantidad_cliente, "Nombre Cliente") \
    .join(promedios_cliente, "Nombre Cliente") \
    .join(frecuencia_cliente, "Nombre Cliente") \
    .join(ultima_compra, "Nombre Cliente")

# Mostrar resultado
features.show(10, truncate=False)

+-----------------------------------------+------------------+--------------+------------------+------------------+-----------------+----------+
|Nombre Cliente                           |Gasto_Total       |Cantidad_Total|Gasto_Promedio    |Cantidad_Promedio |Frecuencia_Compra|Ultimo_Mes|
+-----------------------------------------+------------------+--------------+------------------+------------------+-----------------+----------+
|CLINICA SAN FELIPE S A                   |21985.35          |700.0         |1099.2675         |35.0              |20               |7         |
|GOOD VISION E.I.R.L.                     |572.59            |12.0          |572.59            |12.0              |1                |3         |
|FONDO DE EMPLEADOS DEL BANCO DE LA NACION|8872.98           |229.0         |2957.66           |76.33333333333333 |3                |3         |
|CONSORCIO QORITAQQUE B Y T S.R.L.        |1427.8200000000002|29.0          |475.94000000000005|9.666666666666666 |3                |2         |
|ETHIC FARMACIA SAC                       |439.88            |6.0           |146.62666666666667|2.0               |3                |3         |
|CENTRO DE CATARATA Y LASER E.I.R.L.      |77435.25          |1720.0        |2092.8445945945946|46.486486486486484|37               |6         |
|AAA SAC                                  |35454.700000000004|720.0         |2954.558333333334 |60.0              |12               |5         |
|HOSPITAL METROPOLITANO SOCIEDAD ANONIMA  |9518.95           |160.0         |500.99736842105267|8.421052631578947 |19               |6         |
|RUIZ VIGO JORGE EDUARDO                  |2760.26           |54.0          |552.052           |10.8              |5                |5         |
|OFTALMORETINA S.A.C.                     |1990.51           |36.0          |331.75166666666667|6.0               |6                |6         |
+-----------------------------------------+------------------+--------------+------------------+------------------+-----------------+----------+
only showing top 10 rows

In [47]:
# Agregar df_total por producto (suma o promedio de todos los meses)
df_total_agg = df_total.groupBy("Producto_Familia", "Nivel").agg(
    sum("Venta").alias("Venta_Total_Anual"),
    sum("TGT").alias("Target_Total_Anual"),
    sum("PY24").alias("PY24_Total_Anual"),
    avg("pct").alias("pct_Promedio")
)

df_completo = df_final.join(
    df_total_agg,
    df_final["Producto"] == df_total_agg["Producto_Familia"],
    how="left"
)

In [49]:
df_completo.show()

+-----------+------------------+--------------------+-----------+--------------------+-------+---+-------+--------+------------------+----------------+--------+------------------+------------------+------------------+--------------------+
|   Producto|Numero de articulo|         Descripcion|   Vendedor|      Nombre Cliente|MES NUM|Mes|   2025|CANTIDAD|   Precio_Unitario|Producto_Familia|   Nivel| Venta_Total_Anual|Target_Total_Anual|  PY24_Total_Anual|        pct_Promedio|
+-----------+------------------+--------------------+-----------+--------------------+-------+---+-------+--------+------------------+----------------+--------+------------------+------------------+------------------+--------------------+
|FLUMETOL NF|             40513|FLUMETOL NF OFTEN...|Pharma - N1|BENEL PEREZ,DENNY...|      1|ENE| 898.37|      20|           44.9185|     FLUMETOL NF|Producto|         1621334.0|     1593594.73592|1884900.4700000002| 0.10436897615384616|
|FLUMETOL NF|             40513|FLUMETOL NF OFTEN...|Pharma - N1|BENEL PEREZ,DENNY...|      1|ENE| 898.37|      20|           44.9185|     FLUMETOL NF| Familia|         1621334.0|1581870.0450089998|1884900.4700000002|  0.6428305146153845|
| TRAZIDEX U|             40342|TRAZIDEX UNGENA 3...|Pharma - N1|BENEL PEREZ,DENNY...|      1|ENE|1028.61|      20|51.430499999999995|      TRAZIDEX U|Producto|1580791.3600000003|      2169440.6359|2400196.4000000004|-0.07737670146153847|
|FLUMETOL NF|             40513|FLUMETOL NF OFTEN...|Pharma - N1|BM CLINICA DE OJO...|      1|ENE| 612.53|      15| 40.83533333333333|     FLUMETOL NF|Producto|         1621334.0|     1593594.73592|1884900.4700000002| 0.10436897615384616|
|FLUMETOL NF|             40513|FLUMETOL NF OFTEN...|Pharma - N1|BM CLINICA DE OJO...|      1|ENE| 612.53|      15| 40.83533333333333|     FLUMETOL NF| Familia|         1621334.0|1581870.0450089998|1884900.4700000002|  0.6428305146153845|
|       GAAP|             40498|    GAAP OFTENO 3 ML|Pharma - N1|BM CLINICA DE OJO...|      1|ENE|1925.85|      25| 77.03399999999999|            GAAP|Producto|         884442.98|1437386.7276149997|1663097.1400000001| -0.1513475973076923|
| TRAZIDEX O|             40341|TRAZIDEX OFTENO 5...|Pharma - N1|BM CLINICA DE OJO...|      1|ENE| 250.05|       6|41.675000000000004|      TRAZIDEX O|Producto|        1193499.42|1569585.6387399998|1695458.8299999998|-0.07205232838461538|
| TRAZIDEX U|             40342|TRAZIDEX UNGENA 3...|Pharma - N1|BM CLINICA DE OJO...|      1|ENE| 635.59|       0|               0.0|      TRAZIDEX U|Producto|1580791.3600000003|      2169440.6359|2400196.4000000004|-0.07737670146153847|
| TRAZIDEX U|             40342|TRAZIDEX UNGENA 3...|Pharma - N1|BUENA VISION NORT...|      1|ENE|1028.61|       0|               0.0|      TRAZIDEX U|Producto|1580791.3600000003|      2169440.6359|2400196.4000000004|-0.07737670146153847|
|   AQUADRAN|             41945|        AQUADRAN 10G|Pharma - N1|CARMONA HUAYGUA,K...|      1|ENE|  540.0|       0|               0.0|        AQUADRAN|Producto|          542886.2|     521679.749089|306925.19999999995| 0.11604807361538462|
|   AQUADRAN|             41945|        AQUADRAN 10G|Pharma - N1|CARMONA HUAYGUA,K...|      1|ENE|  540.0|       0|               0.0|        AQUADRAN| Familia|          542886.2|     521679.749089|306925.19999999995|  0.6545096120769232|
| ELIPTIC PF|             41561|ELIPTIC OFTENO 5M...|Pharma - N1|CARMONA HUAYGUA,K...|      1|ENE| 237.76|       0|               0.0|      ELIPTIC PF|Producto|         595728.54|        1031429.28|         367771.36| -0.1692865798461538|
|  SOPHIPREN|             40338|SOPHIPREN OFTENO ...|Pharma - N1|CARMONA HUAYGUA,K...|      1|ENE| 465.85|       0|               0.0|       SOPHIPREN|Producto|         763001.94|     825589.095545| 934917.5899999999|  0.0447922587692308|
|  SOPHIPREN|             40338|SOPHIPREN OFTENO ...|Pharma - N1|CARMONA HUAYGUA,K...|      1|ENE| 465.85|       0|               0.0|       SOPHIPREN| Familia|         763001.94|     825589.095545| 934917.5899999999|  0.5832537972307693|
|   ZEBESTEN|             41604|   ZEBESTEN 5ML PERU|Pharma - N1|CARMONA HUAYGUA,K...|      1|ENE| 490.88|       0|               0.0|        ZEBESTEN|Producto|         395027.36|439876.52032250003|         503469.46|0.023811460692307697|
|   ZEBESTEN|             41604|   ZEBESTEN 5ML PERU|Pharma - N1|CARMONA HUAYGUA,K...|      1|ENE| 490.88|       0|               0.0|        ZEBESTEN| Familia|         395027.36|439876.52032250003|         503469.46|  0.5622729991538461|
| ELIPTIC PF|             41561|ELIPTIC OFTENO 5M...|Pharma - N1|CENTRO OFTALMOLOG...|      1|ENE|1144.01|       0|               0.0|      ELIPTIC PF|Producto|         595728.54|        1031429.28|         367771.36| -0.1692865798461538|
|LAGRICEL PF|             41582|LAGRICEL OFTENO L...|Pharma - N1|CENTRO OFTALMOLOG...|      1|ENE|1249.71|       0|               0.0|     LAGRICEL PF|Producto|3157712.6399999997|     3659144.53871|4188089.2300000004|0.004431587461538463|
|     LANDAX|             41804|          LANDAX 5ML|Pharma - N1|CENTRO OFTALMOLOG...|      1|ENE|  466.1|       0|               0.0|          LANDAX|Producto|         209856.94|318366.60998999997|         191926.07| -0.1245892148461538|
|     LANDAX|             41804|          LANDAX 5ML|Pharma - N1|CENTRO OFTALMOLOG...|      1|ENE|  466.1|       0|               0.0|          LANDAX| Familia|         209856.94|318366.60998999997|         191926.07|  0.4138723236153846|
+-----------+------------------+--------------------+-----------+--------------------+-------+---+-------+--------+------------------+----------------+--------+------------------+------------------+------------------+--------------------+
only showing top 20 rows

In [50]:
# Contar registros antes y después
print(f"Registros en df_final: {df_final.count()}")
print(f"Registros en df_completo: {df_completo.count()}")

# Deberían ser iguales si el join está bien hecho

Registros en df_final: 3840
Registros en df_completo: 5556