In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import expr, col, lit
import re

In [2]:
# ==============================
# 1. Inicializar Spark Session
# ==============================
spark = SparkSession.builder \
    .appName("HDFS_NiFi_Data_Cleaning") \
    .config("spark.hadoop.fs.defaultFS", "hdfs://namenode:9000") \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/09/30 17:12:37 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/09/30 17:12:38 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [11]:
# ==============================
# 2. Paths en HDFS
# ==============================
file_familia = "/user/nifi/Resumen_Valores-VENTA_POR_FAMILIA2.csv"
file_producto = "/user/nifi/Resumen_Valores-VENTA_POR_PRODUCTO2.csv"

In [12]:
def rename_month_columns(df):
    """
    Renombra los bloques de columnas por mes con las métricas:
    Venta, TGT, PY24, pct
    """
    meses = ["Enero","Febrero","Marzo","Abril","Mayo","Junio",
             "Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre","YTD_JUL"]
    metricas = ["Venta","TGT","PY24","pct"]

    new_cols = ["Producto_Familia"]  # primera columna fija
    col_idx = 1  # empezamos después de Producto_Familia

    for mes in meses:
        for metrica in metricas:
            if col_idx < len(df.columns):
                new_cols.append(f"{mes}_{metrica}")
                col_idx += 1

    # Si sobran columnas (por ruido en el CSV), las nombramos Extra
    while len(new_cols) < len(df.columns):
        new_cols.append(f"Extra_{len(new_cols)}")

    return df.toDF(*new_cols)

In [13]:
def load_and_clean(path):
    # ============================
    # 1. Leer CSV sin header
    # ============================
    df = spark.read.option("sep", ";").option("header", "false").csv(path)

    # ============================
    # 2. Tomar primera fila como header real
    # ============================
    header_row = df.first()

    # ============================
    # 3. Filtrar esa fila del dataframe
    # ============================
    df = df.filter(col("_c0") != header_row[0])

    # ============================
    # 4. Columnas temporales
    # ============================
    tmp_headers = [f"Col_{i}" for i in range(len(df.columns))]
    df = df.toDF(*tmp_headers)

    # ============================
    # 5. Renombrar columnas a Mes_Métrica
    # ============================
    df = rename_month_columns(df)

    return df

In [14]:
# ==============================
# 4. Aplicar función
# ==============================
df_familia = load_and_clean(file_familia)
df_producto = load_and_clean(file_producto)

In [15]:
print(df_familia)

DataFrame[Producto_Familia: string, Enero_Venta: string, Enero_TGT: string, Enero_PY24: string, Enero_pct: string, Febrero_Venta: string, Febrero_TGT: string, Febrero_PY24: string, Febrero_pct: string, Marzo_Venta: string, Marzo_TGT: string, Marzo_PY24: string, Marzo_pct: string, Abril_Venta: string, Abril_TGT: string, Abril_PY24: string, Abril_pct: string, Mayo_Venta: string, Mayo_TGT: string, Mayo_PY24: string, Mayo_pct: string, Junio_Venta: string, Junio_TGT: string, Junio_PY24: string, Junio_pct: string, Julio_Venta: string, Julio_TGT: string, Julio_PY24: string, Julio_pct: string, Agosto_Venta: string, Agosto_TGT: string, Agosto_PY24: string, Agosto_pct: string, Septiembre_Venta: string, Septiembre_TGT: string, Septiembre_PY24: string, Septiembre_pct: string, Octubre_Venta: string, Octubre_TGT: string, Octubre_PY24: string, Octubre_pct: string, Noviembre_Venta: string, Noviembre_TGT: string, Noviembre_PY24: string, Noviembre_pct: string, Diciembre_Venta: string, Diciembre_TGT: string, Diciembre_PY24: string, Diciembre_pct: string, YTD_JUL_Venta: string, YTD_JUL_TGT: string, YTD_JUL_PY24: string, YTD_JUL_pct: string]

In [16]:
print(df_producto)

DataFrame[Producto_Familia: string, Enero_Venta: string, Enero_TGT: string, Enero_PY24: string, Enero_pct: string, Febrero_Venta: string, Febrero_TGT: string, Febrero_PY24: string, Febrero_pct: string, Marzo_Venta: string, Marzo_TGT: string, Marzo_PY24: string, Marzo_pct: string, Abril_Venta: string, Abril_TGT: string, Abril_PY24: string, Abril_pct: string, Mayo_Venta: string, Mayo_TGT: string, Mayo_PY24: string, Mayo_pct: string, Junio_Venta: string, Junio_TGT: string, Junio_PY24: string, Junio_pct: string, Julio_Venta: string, Julio_TGT: string, Julio_PY24: string, Julio_pct: string, Agosto_Venta: string, Agosto_TGT: string, Agosto_PY24: string, Agosto_pct: string, Septiembre_Venta: string, Septiembre_TGT: string, Septiembre_PY24: string, Septiembre_pct: string, Octubre_Venta: string, Octubre_TGT: string, Octubre_PY24: string, Octubre_pct: string, Noviembre_Venta: string, Noviembre_TGT: string, Noviembre_PY24: string, Noviembre_pct: string, Diciembre_Venta: string, Diciembre_TGT: string, Diciembre_PY24: string, Diciembre_pct: string, YTD_JUL_Venta: string, YTD_JUL_TGT: string, YTD_JUL_PY24: string, YTD_JUL_pct: string]

In [17]:
df_familia.printSchema()
df_producto.printSchema()

root
 |-- Producto_Familia: string (nullable = true)
 |-- Enero_Venta: string (nullable = true)
 |-- Enero_TGT: string (nullable = true)
 |-- Enero_PY24: string (nullable = true)
 |-- Enero_pct: string (nullable = true)
 |-- Febrero_Venta: string (nullable = true)
 |-- Febrero_TGT: string (nullable = true)
 |-- Febrero_PY24: string (nullable = true)
 |-- Febrero_pct: string (nullable = true)
 |-- Marzo_Venta: string (nullable = true)
 |-- Marzo_TGT: string (nullable = true)
 |-- Marzo_PY24: string (nullable = true)
 |-- Marzo_pct: string (nullable = true)
 |-- Abril_Venta: string (nullable = true)
 |-- Abril_TGT: string (nullable = true)
 |-- Abril_PY24: string (nullable = true)
 |-- Abril_pct: string (nullable = true)
 |-- Mayo_Venta: string (nullable = true)
 |-- Mayo_TGT: string (nullable = true)
 |-- Mayo_PY24: string (nullable = true)
 |-- Mayo_pct: string (nullable = true)
 |-- Junio_Venta: string (nullable = true)
 |-- Junio_TGT: string (nullable = true)
 |-- Junio_PY24: string (nullable = true)
 |-- Junio_pct: string (nullable = true)
 |-- Julio_Venta: string (nullable = true)
 |-- Julio_TGT: string (nullable = true)
 |-- Julio_PY24: string (nullable = true)
 |-- Julio_pct: string (nullable = true)
 |-- Agosto_Venta: string (nullable = true)
 |-- Agosto_TGT: string (nullable = true)
 |-- Agosto_PY24: string (nullable = true)
 |-- Agosto_pct: string (nullable = true)
 |-- Septiembre_Venta: string (nullable = true)
 |-- Septiembre_TGT: string (nullable = true)
 |-- Septiembre_PY24: string (nullable = true)
 |-- Septiembre_pct: string (nullable = true)
 |-- Octubre_Venta: string (nullable = true)
 |-- Octubre_TGT: string (nullable = true)
 |-- Octubre_PY24: string (nullable = true)
 |-- Octubre_pct: string (nullable = true)
 |-- Noviembre_Venta: string (nullable = true)
 |-- Noviembre_TGT: string (nullable = true)
 |-- Noviembre_PY24: string (nullable = true)
 |-- Noviembre_pct: string (nullable = true)
 |-- Diciembre_Venta: string (nullable = true)
 |-- Diciembre_TGT: string (nullable = true)
 |-- Diciembre_PY24: string (nullable = true)
 |-- Diciembre_pct: string (nullable = true)
 |-- YTD_JUL_Venta: string (nullable = true)
 |-- YTD_JUL_TGT: string (nullable = true)
 |-- YTD_JUL_PY24: string (nullable = true)
 |-- YTD_JUL_pct: string (nullable = true)

root
 |-- Producto_Familia: string (nullable = true)
 |-- Enero_Venta: string (nullable = true)
 |-- Enero_TGT: string (nullable = true)
 |-- Enero_PY24: string (nullable = true)
 |-- Enero_pct: string (nullable = true)
 |-- Febrero_Venta: string (nullable = true)
 |-- Febrero_TGT: string (nullable = true)
 |-- Febrero_PY24: string (nullable = true)
 |-- Febrero_pct: string (nullable = true)
 |-- Marzo_Venta: string (nullable = true)
 |-- Marzo_TGT: string (nullable = true)
 |-- Marzo_PY24: string (nullable = true)
 |-- Marzo_pct: string (nullable = true)
 |-- Abril_Venta: string (nullable = true)
 |-- Abril_TGT: string (nullable = true)
 |-- Abril_PY24: string (nullable = true)
 |-- Abril_pct: string (nullable = true)
 |-- Mayo_Venta: string (nullable = true)
 |-- Mayo_TGT: string (nullable = true)
 |-- Mayo_PY24: string (nullable = true)
 |-- Mayo_pct: string (nullable = true)
 |-- Junio_Venta: string (nullable = true)
 |-- Junio_TGT: string (nullable = true)
 |-- Junio_PY24: string (nullable = true)
 |-- Junio_pct: string (nullable = true)
 |-- Julio_Venta: string (nullable = true)
 |-- Julio_TGT: string (nullable = true)
 |-- Julio_PY24: string (nullable = true)
 |-- Julio_pct: string (nullable = true)
 |-- Agosto_Venta: string (nullable = true)
 |-- Agosto_TGT: string (nullable = true)
 |-- Agosto_PY24: string (nullable = true)
 |-- Agosto_pct: string (nullable = true)
 |-- Septiembre_Venta: string (nullable = true)
 |-- Septiembre_TGT: string (nullable = true)
 |-- Septiembre_PY24: string (nullable = true)
 |-- Septiembre_pct: string (nullable = true)
 |-- Octubre_Venta: string (nullable = true)
 |-- Octubre_TGT: string (nullable = true)
 |-- Octubre_PY24: string (nullable = true)
 |-- Octubre_pct: string (nullable = true)
 |-- Noviembre_Venta: string (nullable = true)
 |-- Noviembre_TGT: string (nullable = true)
 |-- Noviembre_PY24: string (nullable = true)
 |-- Noviembre_pct: string (nullable = true)
 |-- Diciembre_Venta: string (nullable = true)
 |-- Diciembre_TGT: string (nullable = true)
 |-- Diciembre_PY24: string (nullable = true)
 |-- Diciembre_pct: string (nullable = true)
 |-- YTD_JUL_Venta: string (nullable = true)
 |-- YTD_JUL_TGT: string (nullable = true)
 |-- YTD_JUL_PY24: string (nullable = true)
 |-- YTD_JUL_pct: string (nullable = true)

In [18]:
df_familia.head(2)

[Row(Producto_Familia='Producto', Enero_Venta='Venta ', Enero_TGT='TGT ', Enero_PY24='PY 24', Enero_pct='% ', Febrero_Venta='Venta ', Febrero_TGT='TGT ', Febrero_PY24='PY 24', Febrero_pct='% ', Marzo_Venta='Venta ', Marzo_TGT='TGT ', Marzo_PY24='PY 24', Marzo_pct='% ', Abril_Venta='Venta ', Abril_TGT='TGT ', Abril_PY24='PY 24', Abril_pct='% ', Mayo_Venta='Venta ', Mayo_TGT='TGT ', Mayo_PY24='PY 24', Mayo_pct='% ', Junio_Venta='Venta ', Junio_TGT='TGT ', Junio_PY24='PY 24', Junio_pct='% ', Julio_Venta='Venta ', Julio_TGT='TGT ', Julio_PY24='PY 24', Julio_pct='% ', Agosto_Venta='Venta ', Agosto_TGT='TGT ', Agosto_PY24='PY 24', Agosto_pct='% ', Septiembre_Venta='Venta ', Septiembre_TGT='TGT ', Septiembre_PY24='PY 24', Septiembre_pct='% ', Octubre_Venta='Venta ', Octubre_TGT='TGT ', Octubre_PY24='PY 24', Octubre_pct='% ', Noviembre_Venta='Venta ', Noviembre_TGT='TGT ', Noviembre_PY24='PY 24', Noviembre_pct='% ', Diciembre_Venta='Venta ', Diciembre_TGT='TGT ', Diciembre_PY24='PY 24', Diciembre_pct='% ', YTD_JUL_Venta='Venta ', YTD_JUL_TGT='TGT ', YTD_JUL_PY24='PY 24', YTD_JUL_pct='% '),
 Row(Producto_Familia='ELIPTIC FAM', Enero_Venta='75101.55', Enero_TGT='75101.55', Enero_PY24='17741.06', Enero_pct='1', Febrero_Venta='84288.73', Febrero_TGT='107789.2834', Febrero_PY24='19544.51', Febrero_pct='0.781976903', Marzo_Venta='61213.98', Marzo_TGT='107789.2834', Marzo_PY24='19544.51', Marzo_pct='0.567904137', Abril_Venta='51806.79', Abril_TGT='113627.5028', Abril_PY24='33278.04', Abril_pct='0.455935304', Mayo_Venta='60995.68', Mayo_TGT='113627.5028', Mayo_PY24='14473.58', Mayo_pct='0.536803841', Junio_Venta='61069.66', Junio_TGT='113627.5028', Junio_PY24='18571.16', Junio_pct='0.537454916', Julio_Venta='10218.55', Julio_TGT='125303.9417', Julio_PY24='21877.87', Julio_pct='0.081550108', Agosto_Venta='0', Agosto_TGT='3448.722727', Agosto_PY24='31060.62', Agosto_pct='0', Septiembre_Venta='0', Septiembre_TGT='3448.722727', Septiembre_PY24='30695.48', Septiembre_pct='0', Octubre_Venta='0', Octubre_TGT='3609.272727', Octubre_PY24='24297.2', Octubre_pct='0', Noviembre_Venta='0', Noviembre_TGT='3609.272727', Noviembre_PY24='45634.51', Noviembre_pct='0', Diciembre_Venta='0', Diciembre_TGT='3609.272727', Diciembre_PY24='52246.26', Diciembre_pct='0', YTD_JUL_Venta='404694.94', YTD_JUL_TGT='756866.5668', YTD_JUL_PY24='145030.73', YTD_JUL_pct='0.534697869')]

In [19]:
df_producto.head(2)

[Row(Producto_Familia='Producto', Enero_Venta='Venta ', Enero_TGT='TGT ', Enero_PY24='PY 24', Enero_pct='% ', Febrero_Venta='Venta ', Febrero_TGT='TGT ', Febrero_PY24='PY 24', Febrero_pct='% ', Marzo_Venta='Venta ', Marzo_TGT='TGT ', Marzo_PY24='PY 24', Marzo_pct='% ', Abril_Venta='Venta ', Abril_TGT='TGT ', Abril_PY24='PY 24', Abril_pct='% ', Mayo_Venta='Venta ', Mayo_TGT='TGT ', Mayo_PY24='PY 24', Mayo_pct='% ', Junio_Venta='Venta ', Junio_TGT='TGT ', Junio_PY24='PY 24', Junio_pct='% ', Julio_Venta='Venta ', Julio_TGT='TGT ', Julio_PY24='PY 24', Julio_pct='% ', Agosto_Venta='Venta ', Agosto_TGT='TGT ', Agosto_PY24='PY 24', Agosto_pct='% ', Septiembre_Venta='Venta ', Septiembre_TGT='TGT ', Septiembre_PY24='PY 24', Septiembre_pct='% ', Octubre_Venta='Venta ', Octubre_TGT='TGT ', Octubre_PY24='PY 24', Octubre_pct='% ', Noviembre_Venta='Venta ', Noviembre_TGT='TGT ', Noviembre_PY24='PY 24', Noviembre_pct='% ', Diciembre_Venta='Venta ', Diciembre_TGT='TGT ', Diciembre_PY24='PY 24', Diciembre_pct='% ', YTD_JUL_Venta='Venta ', YTD_JUL_TGT='TGT ', YTD_JUL_PY24='PY 24', YTD_JUL_pct='% '),
 Row(Producto_Familia='ELIPTIC', Enero_Venta='12243.87', Enero_TGT='12243.87', Enero_PY24='1539.11', Enero_pct='1', Febrero_Venta='22318.44', Febrero_TGT='37097.88238', Febrero_PY24='3462.73', Febrero_pct='0.601609541', Marzo_Venta='22777.34', Marzo_TGT='37097.88238', Marzo_PY24='3462.73', Marzo_pct='0.61397952', Abril_Venta='14359.53', Abril_TGT='39043.81097', Abril_PY24='4871.41', Abril_pct='0.367779928', Mayo_Venta='13629.91', Mayo_TGT='39043.81097', Mayo_PY24='2803.71', Mayo_pct='0.349092716', Junio_Venta='18698.42', Junio_TGT='39043.81097', Junio_PY24='5789.48', Junio_pct='-0.521091319', Julio_Venta='2803.16', Julio_TGT='42935.66816', Julio_PY24='5917.09', Julio_pct='-0.934712557', Agosto_Venta='0', Agosto_TGT='1365.959091', Agosto_PY24='6806.24', Agosto_pct='-1', Septiembre_Venta='0', Septiembre_TGT='1365.959091', Septiembre_PY24='7438.53', Septiembre_pct='-1', Octubre_Venta='0', Octubre_TGT='1427.909091', Octubre_PY24='6937.38', Octubre_pct='-1', Noviembre_Venta='0', Noviembre_TGT='1427.909091', Noviembre_PY24='13094.95', Noviembre_pct='-1', Diciembre_Venta='0', Diciembre_TGT='1427.909091', Diciembre_PY24='16254.55', Diciembre_pct='-1', YTD_JUL_Venta='106830.67', YTD_JUL_TGT='246506.7358', YTD_JUL_PY24='27846.26', YTD_JUL_pct='0.4333783')]

In [20]:
# De forma alargada
from pyspark.sql.functions import expr, regexp_extract, first
from pyspark.sql import functions as F

def unpivot_to_wide(df):
    id_col = "Producto_Familia"
    value_cols = [c for c in df.columns if c != id_col]

    # Crear expresión stack dinámicamente
    expr_str = "stack({0}, {1}) as (Columna, Valor)".format(
        len(value_cols),
        ",".join([f"'{c}', {c}" for c in value_cols])
    )

    # Expandir a formato largo
    df_long = df.select(id_col, expr(expr_str))

    # Separar Mes y Métrica
    df_long = df_long.withColumn("Mes", regexp_extract("Columna", r"^(.*)_(Venta|TGT|PY24|pct)$", 1)) \
                     .withColumn("Metrica", regexp_extract("Columna", r"^(.*)_(Venta|TGT|PY24|pct)$", 2)) \
                     .drop("Columna")

    # Pivotear: convertir Métrica en columnas
    df_wide = df_long.groupBy(id_col, "Mes").pivot("Metrica").agg(F.first("Valor"))

    return df_wide

In [21]:
from pyspark.sql.functions import col

# Quitar la fila "Producto"
df_familia_clean = df_familia.filter(df_familia["Producto_Familia"] != "Producto")
df_producto_clean = df_producto.filter(df_producto["Producto_Familia"] != "Producto")

# Aplicar unpivot corregido (con pivot final)
df_familia_wide = unpivot_to_wide(df_familia_clean)
df_producto_wide = unpivot_to_wide(df_producto_clean)

# Convertir columnas numéricas a double
num_cols = ["Venta", "TGT", "PY24", "pct"]

for c in num_cols:
    df_familia_wide = df_familia_wide.withColumn(c, col(c).cast("double"))
    df_producto_wide = df_producto_wide.withColumn(c, col(c).cast("double"))

# Mostrar resultados
print("=== Familia ===")
df_familia_wide.show(20, truncate=False)

print("=== Producto ===")
df_producto_wide.show(20, truncate=False)

=== Familia ===
+----------------+----------+---------+-----------+---------+-----------+
|Producto_Familia|Mes       |PY24     |TGT        |Venta    |pct        |
+----------------+----------+---------+-----------+---------+-----------+
|AGGLAD          |Abril     |24635.46 |120891.2407|91519.9  |0.757043269|
|AGGLAD          |Agosto    |25769.42 |2560.845455|0.0      |0.0        |
|AGGLAD          |Diciembre |71802.0  |2681.545455|0.0      |0.0        |
|AGGLAD          |Enero     |22534.35 |110094.81  |110094.81|1.0        |
|AGGLAD          |Febrero   |31785.06 |114546.1364|110784.62|0.96716156 |
|AGGLAD          |Julio     |29784.66 |133581.4492|18240.65 |0.136550772|
|AGGLAD          |Junio     |20271.95 |120891.2407|92445.3  |0.764698083|
|AGGLAD          |Marzo     |31785.06 |114546.1364|81102.53 |0.708033745|
|AGGLAD          |Mayo      |26193.67 |120891.2407|80999.82 |0.670022241|
|AGGLAD          |Noviembre |52414.29 |2681.545455|0.0      |0.0        |
|AGGLAD          |Octubre   |20463.2  |2681.545455|0.0      |0.0        |
|AGGLAD          |Septiembre|32943.44 |2560.845455|0.0      |0.0        |
|AGGLAD          |YTD_JUL   |186990.21|835442.2541|585187.63|0.700452517|
|AQUADRAN        |Abril     |18754.2  |35738.51318|48886.2  |1.367885669|
|AQUADRAN        |Agosto    |21054.6  |734.9681818|0.0      |0.0        |
|AQUADRAN        |Diciembre |18198.0  |770.8181818|0.0      |0.0        |
|AQUADRAN        |Enero     |3348.0   |44517.6    |44517.6  |1.0        |
|AQUADRAN        |Febrero   |13176.0  |33810.57818|34954.2  |1.033824379|
|AQUADRAN        |Julio     |19218.6  |39594.38318|5292.0   |0.133655321|
|AQUADRAN        |Junio     |15957.0  |35738.51318|47521.3  |1.329694376|
+----------------+----------+---------+-----------+---------+-----------+
only showing top 20 rows

=== Producto ===
+----------------+----------+---------+-----------+---------+------------+
|Producto_Familia|Mes       |PY24     |TGT        |Venta    |pct         |
+----------------+----------+---------+-----------+---------+------------+
|AGGLAD          |Abril     |24635.46 |120891.2407|91519.9  |0.757043269 |
|AGGLAD          |Agosto    |25769.42 |2560.845455|0.0      |-1.0        |
|AGGLAD          |Diciembre |71802.0  |2681.545455|0.0      |-1.0        |
|AGGLAD          |Enero     |22534.35 |110094.81  |110094.81|1.0         |
|AGGLAD          |Febrero   |31785.06 |114546.1364|110784.62|0.96716156  |
|AGGLAD          |Julio     |29784.66 |133581.4492|18240.65 |-0.863449228|
|AGGLAD          |Junio     |20271.95 |120891.2407|92445.3  |-0.235301917|
|AGGLAD          |Marzo     |31785.06 |114546.1364|81102.53 |0.708033745 |
|AGGLAD          |Mayo      |26193.67 |120891.2407|80999.82 |0.670022241 |
|AGGLAD          |Noviembre |52414.29 |2681.545455|0.0      |-1.0        |
|AGGLAD          |Octubre   |20463.2  |2681.545455|0.0      |-1.0        |
|AGGLAD          |Septiembre|32943.44 |2560.845455|0.0      |-1.0        |
|AGGLAD          |YTD_JUL   |186990.21|835442.2541|585187.63|0.700452517 |
|AQUADRAN        |Abril     |18754.2  |35738.51318|48886.2  |1.367885669 |
|AQUADRAN        |Agosto    |21054.6  |734.9681818|0.0      |-1.0        |
|AQUADRAN        |Diciembre |18198.0  |770.8181818|0.0      |-1.0        |
|AQUADRAN        |Enero     |3348.0   |44517.6    |44517.6  |1.0         |
|AQUADRAN        |Febrero   |13176.0  |33810.57818|34954.2  |1.033824379 |
|AQUADRAN        |Julio     |19218.6  |39594.38318|5292.0   |-0.866344679|
|AQUADRAN        |Junio     |15957.0  |35738.51318|47521.3  |0.329694376 |
+----------------+----------+---------+-----------+---------+------------+
only showing top 20 rows

In [23]:
from pyspark.sql.functions import trim, upper

# Normalizar columna Mes en ambos dataframes
df_familia_wide = df_familia_wide.withColumn("Mes", trim(upper(df_familia_wide["Mes"])))
df_producto_wide = df_producto_wide.withColumn("Mes", trim(upper(df_producto_wide["Mes"])))

In [24]:
from pyspark.sql.functions import when, col

# Lista de métricas a convertir
metricas = ["Venta", "TGT", "PY24", "pct"]

# Familia
for m in metricas:
    df_familia_wide = df_familia_wide.withColumn(
        m,
        when(col(m).isNull(), 0.0).otherwise(col(m).cast("double"))
    )

# Producto
for m in metricas:
    df_producto_wide = df_producto_wide.withColumn(
        m,
        when(col(m).isNull(), 0.0).otherwise(col(m).cast("double"))
    )

In [25]:
from pyspark.sql.functions import lit

# Agregar columna de nivel
df_familia_wide = df_familia_wide.withColumn("Nivel", lit("Familia"))
df_producto_wide = df_producto_wide.withColumn("Nivel", lit("Producto"))

# Unir ambos datasets
df_total = (
    df_familia_wide
    .unionByName(df_producto_wide, allowMissingColumns=True)
)

In [26]:
df_total.show(100, truncate=False)

+----------------+----------+----------+-----------+---------+-----------+-------+
|Producto_Familia|Mes       |PY24      |TGT        |Venta    |pct        |Nivel  |
+----------------+----------+----------+-----------+---------+-----------+-------+
|AGGLAD          |ABRIL     |24635.46  |120891.2407|91519.9  |0.757043269|Familia|
|AGGLAD          |AGOSTO    |25769.42  |2560.845455|0.0      |0.0        |Familia|
|AGGLAD          |DICIEMBRE |71802.0   |2681.545455|0.0      |0.0        |Familia|
|AGGLAD          |ENERO     |22534.35  |110094.81  |110094.81|1.0        |Familia|
|AGGLAD          |FEBRERO   |31785.06  |114546.1364|110784.62|0.96716156 |Familia|
|AGGLAD          |JULIO     |29784.66  |133581.4492|18240.65 |0.136550772|Familia|
|AGGLAD          |JUNIO     |20271.95  |120891.2407|92445.3  |0.764698083|Familia|
|AGGLAD          |MARZO     |31785.06  |114546.1364|81102.53 |0.708033745|Familia|
|AGGLAD          |MAYO      |26193.67  |120891.2407|80999.82 |0.670022241|Familia|
|AGGLAD          |NOVIEMBRE |52414.29  |2681.545455|0.0      |0.0        |Familia|
|AGGLAD          |OCTUBRE   |20463.2   |2681.545455|0.0      |0.0        |Familia|
|AGGLAD          |SEPTIEMBRE|32943.44  |2560.845455|0.0      |0.0        |Familia|
|AGGLAD          |YTD_JUL   |186990.21 |835442.2541|585187.63|0.700452517|Familia|
|AQUADRAN        |ABRIL     |18754.2   |35738.51318|48886.2  |1.367885669|Familia|
|AQUADRAN        |AGOSTO    |21054.6   |734.9681818|0.0      |0.0        |Familia|
|AQUADRAN        |DICIEMBRE |18198.0   |770.8181818|0.0      |0.0        |Familia|
|AQUADRAN        |ENERO     |3348.0    |44517.6    |44517.6  |1.0        |Familia|
|AQUADRAN        |FEBRERO   |13176.0   |33810.57818|34954.2  |1.033824379|Familia|
|AQUADRAN        |JULIO     |19218.6   |39594.38318|5292.0   |0.133655321|Familia|
|AQUADRAN        |JUNIO     |15957.0   |35738.51318|47521.3  |1.329694376|Familia|
|AQUADRAN        |MARZO     |13176.0   |33810.57818|43507.8  |1.286810293|Familia|
|AQUADRAN        |MAYO      |13786.2   |35738.51318|46764.0  |1.308504351|Familia|
|AQUADRAN        |NOVIEMBRE |23765.4   |770.8181818|0.0      |0.0        |Familia|
|AQUADRAN        |OCTUBRE   |24548.4   |770.8181818|0.0      |0.0        |Familia|
|AQUADRAN        |SEPTIEMBRE|24526.8   |734.9681818|0.0      |0.0        |Familia|
|AQUADRAN        |YTD_JUL   |97416.0   |258948.6791|271443.1 |1.048250568|Familia|
|DUSTALOX        |ABRIL     |9428.91   |11675.36719|7592.8   |0.650326442|Familia|
|DUSTALOX        |AGOSTO    |9930.94   |301.3045455|0.0      |0.0        |Familia|
|DUSTALOX        |DICIEMBRE |7691.21   |315.4545455|0.0      |0.0        |Familia|
|DUSTALOX        |ENERO     |13592.53  |8778.28    |8778.28  |1.0        |Familia|
|DUSTALOX        |FEBRERO   |6813.43   |11070.27913|6292.47  |0.568411142|Familia|
|DUSTALOX        |JULIO     |11432.26  |12885.54331|196.9    |0.015280691|Familia|
|DUSTALOX        |JUNIO     |5938.11   |11675.36719|6509.96  |0.55758075 |Familia|
|DUSTALOX        |MARZO     |6813.43   |11070.27913|9824.29  |0.887447361|Familia|
|DUSTALOX        |MAYO      |12191.14  |11675.36719|5942.22  |0.508953586|Familia|
|DUSTALOX        |NOVIEMBRE |8889.02   |315.4545455|0.0      |0.0        |Familia|
|DUSTALOX        |OCTUBRE   |7104.66   |315.4545455|0.0      |0.0        |Familia|
|DUSTALOX        |SEPTIEMBRE|13358.57  |301.3045455|0.0      |0.0        |Familia|
|DUSTALOX        |YTD_JUL   |66209.81  |78830.48315|45136.92 |0.572582054|Familia|
|ELAR-B          |ABRIL     |0.0       |24407.71845|14996.0  |0.614395812|Familia|
|ELAR-B          |AGOSTO    |0.0       |495.3454545|0.0      |0.0        |Familia|
|ELAR-B          |DICIEMBRE |2926.75   |516.9454545|0.0      |0.0        |Familia|
|ELAR-B          |ENERO     |0.0       |10200.5    |10200.5  |1.0        |Familia|
|ELAR-B          |FEBRERO   |0.0       |23180.02945|14426.75 |0.622378415|Familia|
|ELAR-B          |JULIO     |0.0       |26863.09645|6767.75  |0.251934843|Familia|
|ELAR-B          |JUNIO     |0.0       |24407.71845|17209.75 |0.70509458 |Familia|
|ELAR-B          |MARZO     |0.0       |23180.02945|20688.5  |0.892513965|Familia|
|ELAR-B          |MAYO      |0.0       |24407.71845|16864.75 |0.690959707|Familia|
|ELAR-B          |NOVIEMBRE |5916.75   |517.9454545|0.0      |0.0        |Familia|
|ELAR-B          |OCTUBRE   |8280.0    |517.9454545|0.0      |0.0        |Familia|
|ELAR-B          |SEPTIEMBRE|1748.0    |495.3454545|0.0      |0.0        |Familia|
|ELAR-B          |YTD_JUL   |0.0       |156646.8107|101154.0 |0.645745672|Familia|
|ELIPTIC FAM     |ABRIL     |33278.04  |113627.5028|51806.79 |0.455935304|Familia|
|ELIPTIC FAM     |AGOSTO    |31060.62  |3448.722727|0.0      |0.0        |Familia|
|ELIPTIC FAM     |DICIEMBRE |52246.26  |3609.272727|0.0      |0.0        |Familia|
|ELIPTIC FAM     |ENERO     |17741.06  |75101.55   |75101.55 |1.0        |Familia|
|ELIPTIC FAM     |FEBRERO   |19544.51  |107789.2834|84288.73 |0.781976903|Familia|
|ELIPTIC FAM     |JULIO     |21877.87  |125303.9417|10218.55 |0.081550108|Familia|
|ELIPTIC FAM     |JUNIO     |18571.16  |113627.5028|61069.66 |0.537454916|Familia|
|ELIPTIC FAM     |MARZO     |19544.51  |107789.2834|61213.98 |0.567904137|Familia|
|ELIPTIC FAM     |MAYO      |14473.58  |113627.5028|60995.68 |0.536803841|Familia|
|ELIPTIC FAM     |NOVIEMBRE |45634.51  |3609.272727|0.0      |0.0        |Familia|
|ELIPTIC FAM     |OCTUBRE   |24297.2   |3609.272727|0.0      |0.0        |Familia|
|ELIPTIC FAM     |SEPTIEMBRE|30695.48  |3448.722727|0.0      |0.0        |Familia|
|ELIPTIC FAM     |YTD_JUL   |145030.73 |756866.5668|404694.94|0.534697869|Familia|
|FLUMETOL NF     |ABRIL     |97096.28  |107397.8095|131378.66|1.22328994 |Familia|
|FLUMETOL NF     |AGOSTO    |120003.77 |734.9681818|0.0      |0.0        |Familia|
|FLUMETOL NF     |DICIEMBRE |97687.65  |770.8181818|0.0      |0.0        |Familia|
|FLUMETOL NF     |ENERO     |106644.0  |144656.97  |144656.97|1.0        |Familia|
|FLUMETOL NF     |FEBRERO   |84540.52  |101550.4985|130538.81|1.285457107|Familia|
|FLUMETOL NF     |JULIO     |99312.38  |119092.4315|19849.85 |0.166675999|Familia|
|FLUMETOL NF     |JUNIO     |87288.94  |107397.8095|115107.7 |1.071788154|Familia|
|FLUMETOL NF     |MARZO     |84540.52  |101550.4985|142159.6 |1.399890715|Familia|
|FLUMETOL NF     |MAYO      |84208.66  |107397.8095|126975.41|1.182290501|Familia|
|FLUMETOL NF     |NOVIEMBRE |138467.25 |770.8181818|0.0      |0.0        |Familia|
|FLUMETOL NF     |OCTUBRE   |133096.68 |770.8181818|0.0      |0.0        |Familia|
|FLUMETOL NF     |SEPTIEMBRE|108382.52 |734.9681818|0.0      |0.0        |Familia|
|FLUMETOL NF     |YTD_JUL   |643631.3  |789043.8271|810667.0 |1.027404274|Familia|
|GAAP FAM        |ABRIL     |162597.45 |199898.6823|105247.15|0.52650247 |Familia|
|GAAP FAM        |AGOSTO    |200913.89 |2823.254545|0.0      |0.0        |Familia|
|GAAP FAM        |DICIEMBRE |136807.4  |2956.454545|0.0      |0.0        |Familia|
|GAAP FAM        |ENERO     |169078.66 |198788.44  |198788.44|1.0        |Familia|
|GAAP FAM        |FEBRERO   |165560.48 |189336.242 |160505.48|0.847727188|Familia|
|GAAP FAM        |JULIO     |194520.31 |221023.5628|32603.91 |0.147513277|Familia|
|GAAP FAM        |JUNIO     |155690.3  |199898.6823|157333.82|0.78706782 |Familia|
|GAAP FAM        |MARZO     |165560.48 |189336.242 |150621.08|0.795521652|Familia|
|GAAP FAM        |MAYO      |189372.95 |199898.6823|125926.36|0.629950926|Familia|
|GAAP FAM        |NOVIEMBRE |187016.44 |2957.654545|0.0      |0.0        |Familia|
|GAAP FAM        |OCTUBRE   |166393.8  |2957.654545|0.0      |0.0        |Familia|
|GAAP FAM        |SEPTIEMBRE|170748.45 |2823.254545|0.0      |0.0        |Familia|
|GAAP FAM        |YTD_JUL   |1202380.63|1398180.534|931026.24|0.665884138|Familia|
|LAGRICEL FAM    |ABRIL     |375415.05 |436918.8275|456361.02|1.044498409|Familia|
|LAGRICEL FAM    |AGOSTO    |444312.92 |9579.386364|0.0      |0.0        |Familia|
|LAGRICEL FAM    |DICIEMBRE |287199.94 |10033.63636|0.0      |0.0        |Familia|
|LAGRICEL FAM    |ENERO     |395594.16 |377004.34  |377004.34|1.0        |Familia|
|LAGRICEL FAM    |FEBRERO   |439211.52 |414081.2322|413613.96|0.998871545|Familia|
|LAGRICEL FAM    |JULIO     |390711.15 |482594.018 |66352.14 |0.137490598|Familia|
|LAGRICEL FAM    |JUNIO     |312000.17 |436918.8275|386762.05|0.885203442|Familia|
|LAGRICEL FAM    |MARZO     |439211.52 |414081.2322|447456.98|1.080601933|Familia|
|LAGRICEL FAM    |MAYO      |357482.49 |436918.8275|348233.36|0.797020724|Familia|
+----------------+----------+----------+-----------+---------+-----------+-------+
only showing top 100 rows